@import '../../Assets/Variables';
.Signup-background {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(255, 253, 253);
    height: 100vh;
}

.registration-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-content: center;
    height: 32.375em;
    width: 25em;
    padding: .3em;
    background-color: $flickr-white;
    box-shadow: 0px 1.5px 10px 1px rgba(0, 0, 0, 0.19);
    .signup-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: 1.4em;
            font-weight: 200;
            margin-bottom: 0;
        }
    }
}

.signup-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2em;
}

.below-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .agree-to-terms {
        display: flex;
        flex-direction: column;
        align-items: center;
        .privacy-policy {
            margin-top: 0;
        }
    }
    .form-btn {
        width: 90%;
        .continue-btn {
            width: 100%;
        }
    }
}

.already-account {
    font-weight: 500
}

.link-to-signin {
    color: blue
}