.landing-nav{
    display: flex;
    max-height: 64px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
}

.landing-nav h4{
    color: white
}

.flickr-logo{
    display: flex;
    justify-content: center;
    height: 2.3vh;
    margin-left: 3.2vw;
    margin-top: 2vh;
}

.landing-search{
    position: relative;
    width: 78vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center; 
}
.landing-search input{
    background-color: rgba(0, 0, 0, 0.1);
    width: 76vw;
    height: 2.5vh;
}

.login-link{
    font-weight: 100
}

.nav-signup-btn{
    height: 2.5rem;
    width: 6.3rem;
    margin-bottom: 1.5vh;
    margin-left: 1.5vw;
}


#landingpage{
    height: 100vh;
    width: 100vw;
    background-image:url(https://www.vactualpapers.com/wallpapers/beautiful-landscape-high-resolution-4k-wallpaper-35/download/3840x2160.jpg);
    background-position:center;
    background-size: cover;
    color: white;
}

.landing-text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    max-width: 640px;
    margin: 0 auto;
    margin-top: 20vh;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
}

.landing-top-text{
    font-size: 56px;
    margin-top: 3vh; 
    font-weight: 500;
}
.landing-mid-text{
    font-size: 25px;
    margin-top: -1.5vh;
}
.landing-bottom-text{
    font-size: 25px;
    margin-top: -1.4vh;
}

.landing-footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 52px;
}

.foot-nav{
    width: 55vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
    color: gray;
    font-size: 14px;
    margin: auto;
    justify-content: space-between;
}

.foot-nav p:hover{
    color: #cccccc;
    transition: .2s;
}