@import '../../Assets/Variables';
.homepage-backdrop {
    min-height: 100vh;
    width: 100%;
    background-color: $accent-blue;
    transition: 1s;
}

.homepage-card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.125em;
}