.home-card {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: .3em;
    height: 25em;
    width: 20em;
}

.card-header {
    display: flex;
    flex-wrap: wrap;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}