@import '../../../Assets/Variables';
.profile-thumbnails-img {
    display: flex;
    margin: .3em;
    height: 15.9375em;
    border-radius: 2.5%;
    border: 2px solid $flickr-black;
}

.modal-pop-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50em;
    margin: 3em auto;
}

.modal-pop-img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 1em;
    margin-top: 1em;
}

.close-modal-btn {
    height: 3.125em;
}

.modal-delete-btn {
    height: 3.125em;
}