.profile-thumbnails{
    display: flex;
    width: 100%;
    overflow: auto; 
    overflow-y: hidden;
    flex-wrap: wrap;
}

.profile-thumbnails-img{
    margin: 2px;
    display: flex;
    width: 365px;
    height: 265px;
}