@import '../../../Assets/Variables';
$textBoxShadow: #9ea4a7;
#profile-bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 0 1px $flickr-gray;
    border-radius: 8px

}

.bio-holder{
    width: 100%;
}



.bio-save-button {
    display: flex;
    justify-content: center;
    padding: .8em;
    // float: right;
}


.edit-bio-button {
    margin: .5em;
    display: flex;
    width: 4%;
    float: right;
}

.bio-display-text {
    // margin: 0;
    padding: .5em;
    word-wrap: break-word;
}





.bio-textBox {
    width: 80%;
    height: 20vh;
    margin: auto;
    margin-top: 2%;
    // margin-bottom: 2%;
    box-shadow: inset 0 0 0 1px $flickr-gray;
    border: none;
    resize: none;
}