.profile-back-img{
    height: 26vh;
    width: 99.1vw;
    background-color: green;
}
.profile-mini-nav{
    height: 5vh;
    width: 99.1vw;
    background-color: bisque
}
.profile-about-display{
    display: flex;
    margin: auto;
    background-color: brown;
    margin-top: 2vh;
    height: 120vh;
    width: 80vw
}