 .media-gallery {
    padding: 2rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin-left: 9vw;
    margin-top: 10vh;
}

.media-gallery-thumbnails {
    display: flex;
    overflow: auto; 
    overflow-y: hidden;
    flex-wrap: wrap;
}

.media-gallery-thumbnails-img {
    margin: 2px;
    display: flex; 
    width: 398px;
    height: 265px;
    /* border: white 4px solid; */
}

.media-gallery-main-img {
    width: 100%;
    border: white 2px solid;
}

.modal-img-size{
    height: 50vh;
    width: 50vw;
    margin: 15vh auto
}