.you-drop-btn {
  background-color: #212124;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}
.you-dropdown {
  position: relative;
  display: inline-block;
}
.you-drop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.you-drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.you-drop-content a:hover {background-color: #ddd;}

.you-dropdown:hover .you-drop-content {display: block;}

.you-dropdown:hover .you-drop-btn {background-color: #212124;}