/* You Drop Down */
.you-drop-btn {
  background-color: #212124;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.you-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 28px;
  margin-top: 2px;
}
.you-drop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.you-drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.you-drop-content a:hover {background-color: #ddd;}
.you-dropdown:hover .you-drop-content {display: block;}
.you-dropdown:hover .you-drop-btn {background-color: #212124;}

/* Explore Drop Down */

.explore-drop-btn {
  background-color: #212124;
  color: white;
  font-size: 15px;
  /* margin-left: 30px;  */
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.explore-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  margin-top: 15px;
}
.explore-drop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.explore-drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.explore-drop-content a:hover {background-color: #ddd;}
.explore-dropdown:hover .explore-drop-content {display: block;}
.explore-dropdown:hover .explore-drop-btn {background-color: #212124;}

/*  */