.navBar{
    height: 50px;
    width: 100%;
    background-color: #212124;
}
.navbar-center{
	display: flex;
    justify-content: space-between;
}

.nav-black-bar{
    height: 50px;
    min-width: 800px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
    background-color:  #212124;
}

.home-image-link{
    height: 23px;
    margin-top: 13px;
}

.nav-create{
    color: white;
    cursor: pointer;
    margin-top: 17px;
    margin-left: -80px;
    font-size: 15px;
}

.nav-getPro{
    color: white;
    cursor: pointer;
    margin-top: 16px;
    margin-left: -80px;
    font-size: 15px;
}

.usersName{
    color: white;
    font-size: 16px;
}