@import '../../Assets/Variables';
$pageBackground: #F3F5F6;
$subNavColor: #fff;
.explore-page {
    height: 100%;
    width: 100%;
    background-color: $pageBackground;
}

.title-explore {
    // position: relative;
    font-size: 24px;
    line-height: 30px;
}

.title-explore h3 {
    font-weight: 300;
    margin-bottom: .5em;
}

.image-gallery-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 3vh;
    background-color: $flickr-white;
}

.media-gallery-thumbnails {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
}

.media-gallery-thumbnails-img {
    display: flex;
    margin: .2em;
    width: 29.0625em;
    height: 22.8125em;
    object-fit: cover;
    border-radius: 3%;
}

.modal-pop-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50em;
    height: 55em;
    margin: 3em auto;
}

.modal-pop-img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 3%
}

.close-modal-btn {
    height: 3.125em;
}